@import "~bootstrap/scss/bootstrap.scss";

button{
    margin-left: 20px;
    background-color: white; 
}

ul{
	list-style: none;
}

body{
    background-color:  #cfcfcff1;
}

.todolist{
    padding-top:10px;
}

.header{
    padding-bottom:10px;
}